<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sara.Task-Listing-SwiftUI</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LunchScreenImage</string>
		<key>UIColorName</key>
		<string>LunchScreenColor</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.872405307243-2fivfk33fkn8ai68btfkdc6h3sgoc7p0</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>myawesomemacbook.local</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Bold.ttf</string>
		<string>SFProDisplay-Semibold.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProDisplay-Light.ttf</string>
	</array>
</dict>
</plist>
